@use '../../global-styles/' as *;

.Badge {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.375rem;
    border: solid 1px #d9d6fe;

    &__status
    {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 50%;

        &.gray
        {
            background: $color-gray-500;
        }

        &.brand
        {
            background: $color-brand-500;
        }

        &.error
        {
            background: $color-error-500;
        }

        &.warning
        {
            background: $color-warning-500;
        }

        &.success
        {
            background: $color-success-500;
        }

        &.grayblue
        {
            background: $color-grayblue-500;
        }

        &.lightblue
        {
            background: $color-lightblue-500;
        }
        
        &.blue
        {
            background: $color-blue-500;
        }

        &.indigo
        {
            background: $color-indigo-500;
        }

        &.purple
        {
            background: $color-purple-500;
        }

        &.pink
        {
            background: $color-pink-500;
        }

        &.orange
        {
            background: $color-orange-500;
        }
    }

    &__text
    {
        height: 1.125rem;
        flex-grow: 0;
        text-align: center;
    }

    &__close
    {
        margin-left: 0.25rem;
        color: $color-gray-400;
        cursor: pointer;

        &:hover
        {
            color: $color-gray-600;
        }
    }

    &__icon
    {
        &--left
        {
            padding-right: 4px;
            height: 10px;
        }

        &--right
        {
            padding-left: 4px;
            height: 10px;
        }
    }
    
    &.outline
    {
        background: transparent !important;
        border-width: 1.5px;
    }

    &.sm
    {
        height: 1.375rem;
        padding: $spacing-xxs $spacing-md $spacing-xxs $spacing-md;
        @include Text-xsMedium;
    }

    &.md
    {
        height: 1.5rem;
        padding: $spacing-xxs 0.625rem $spacing-xxs 0.625rem;
        @include Text-smMedium;
    }
    
    &.lg
    {
        height: 1.75rem;
        padding: $spacing-xxs $spacing-lg $spacing-xxs $spacing-lg;
        @include Text-smMedium;
    }

    &.pill
    {
        border-radius: $radius-2xl;
    }

    &.gray
    {
        border-color: $color-gray-200;
        background: $color-gray-50;

        &.outline
        {
            border-color: $color-gray-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-gray-700;
        }
    }

	&.brand
    {
        border-color: $color-brand-200;
        background: $color-brand-50;

        &.outline
        {
            border-color: $color-brand-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-brand-700;
        }
    }

	&.error
    {
        border-color: $color-error-200;
        background: $color-error-50;

        &.outline
        {
            border-color: $color-error-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-error-700;
        }
    }

	&.warning
    {
        border-color: $color-warning-200;
        background: $color-warning-50;

        &.outline
        {
            border-color: $color-warning-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-warning-700;
        }
    }

	&.success
    {
        border-color: $color-success-200;
        background: $color-success-50;

        &.outline
        {
            border-color: $color-success-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-success-700;
        }
    }
    
	&.grayblue
    {
        border-color: $color-grayblue-200;
        background: $color-grayblue-50;

        &.outline
        {
            border-color: $color-grayblue-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-grayblue-700;
        }
    }

	&.lightblue
    {
        border-color: $color-lightblue-200;
        background: $color-lightblue-50;

        &.outline
        {
            border-color: $color-lightblue-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-lightblue-700;
        }
    }

	&.blue
    {
        border-color: $color-blue-200;
        background: $color-blue-50;

        &.outline
        {
            border-color: $color-blue-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-blue-700;
        }
    }

	&.indigo
    {
        border-color: $color-indigo-200;
        background: $color-indigo-50;

        &.outline
        {
            border-color: $color-indigo-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-indigo-700;
        }
    }

	&.purple
    {
        border-color: $color-purple-200;
        background: $color-purple-50;

        &.outline
        {
            border-color: $color-purple-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-purple-700;
        }
    }

	&.pink
    {
        border-color: $color-pink-200;
        background: $color-pink-50;

        &.outline
        {
            border-color: $color-pink-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-pink-700;
        }
    }

	&.orange
    {
        border-color: $color-orange-200;
        background: $color-orange-50;

        &.outline
        {
            border-color: $color-orange-600;
        }

        .Badge__icon--left,
        .Badge__icon-right,
        .Badge__text
        {
            color: $color-orange-700;
        }
    }
}
