@use '../../global-styles/' as *;

.TextArea {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__label {
        padding-bottom: $spacing-sm;
        flex-grow: 1;
        text-align: left;
        color: $color-gray-700;
        @include Text-smMedium;
    }

    &__wrapper {
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        border: solid 1px $color-gray-300;
        box-shadow: $box-shadow-default;
        border-radius: $radius-md;
        // min-height: 44px !important;

        &.error {
            border-color: $color-error-300;

            &:focus-within {
                box-shadow: 0 0 0 4px rgba(240, 68, 56, 0.24),
                    0 1px 2px 0 rgba(16, 24, 40, 0.05);
            }
        }

        &.disabled {
            background: $color-gray-50;
        }

        &:focus-within {
            box-shadow: 0 0 0 4px rgba(102, 112, 133, 0.24),
                0 1px 2px 0 rgba(16, 24, 40, 0.05);
        }

        &__input {
            position: relative;
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: space-between;
            
            &__main
            {
                resize: none !important;
                height: 100%;
                padding: $spacing-md $spacing-lg;
                // min-height: 120px;
                background: transparent;
                flex-grow: 1;
                text-align: left;
                border: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                color: $color-gray-900;
                @include Text-mdRegular;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: $color-gray-500;
                    @include Text-mdRegular;
                }

                &:disabled {
                    background: $color-gray-50;
                    color: $color-gray-500;
                    border-radius: $radius-md;
                }
            
            }

            .HelpIcon {
                position: absolute;
                top: 0.75rem;
                right: 0.75rem;
            }

            &__metaLabel {
                // height: 100%;
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 0.625rem 0.75rem 0.625rem 0.875rem;
                // color: $color-gray-600;
                // @include Text-mdRegular;
                color: $color-gray-700;
                @include Text-smSemibold;

                &.left {
                    border-right: solid 1px $color-gray-300;
                }

                &.right {
                    border-left: solid 1px $color-gray-300;
                }
            }
        }
    }

    &__hint,
    &__error {
        padding-top: $spacing-sm;
        flex-grow: 1;
        text-align: left;
        color: $color-gray-600;
        @include Text-smRegular;
    }

    &__error {
        color: $color-error-500;
    }
}
