@use '../../global-styles/' as *;

.Row {
    display: grid;
    gap: $container-padding-desktop;

    @media only screen and (min-width: $breakpoint-medium) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media only screen and (min-width: $breakpoint-large) {
        grid-template-columns: repeat(12, 1fr);
    }
}
