@use '../../global-styles/' as *;

.Row {
    display: grid;
    width: 100%;
    gap: 1rem;

    &.top
    {
        align-items: flex-start;
    }

    &.top
    {
        align-items: center;
    }

    &.bottom
    {
        align-items: flex-end;
    }

    @media (min-width: #{$sm-breakpoint}) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: #{$md-breakpoint}) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: #{$xl-breakpoint}) {
        grid-template-columns: repeat(12, 1fr);
    }
}
