@import './spacing';
@import './radius';
@import './colors';
@import './fonts';
@import './mixins';
@import './variables';

*
{
    box-sizing: border-box;
}

// @media only screen and (min-width: 40em) {...} cellphone (640px and up)
$breakpoint-small: 23.5;

// @media only screen and (min-width: 48em) {...} tablet (768px and up)
$breakpoint-medium: 48em;

// @media only screen and (min-width: 80em) {...} desktop (1280px and up)
$breakpoint-large: 80em;

// // tablet
// @media only screen and (min-width: $breakpoint-medium) {
        
// }

// // desktop
// @media only screen and (min-width: $breakpoint-large) {
    
//     flex-direction: row;
// }
