@use '../../global-styles/' as *;

.Container {
    height: calc(100vh - 20.6rem);
    display: flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (min-width: $breakpoint-medium) {
        height: calc(100vh - 9.7rem);
    }

    &.scrollable {
        .Container__wrapper {
            display: flex;
            flex: 1;
            min-height: 0px;

            &__container {
                flex: 1;
                overflow: auto;

                &__content {
                    color: black;

                    &.padding-vertical-both-horizontal-both
                    {
                        padding-top: $spacing-2xl;
                        padding-right: $spacing-2xl;
                        padding-bottom: $spacing-2xl;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: $spacing-4xl;
                            padding-bottom: $spacing-4xl;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-both-horizontal-left 
                    {
                        padding-top: $spacing-2xl;
                        padding-right: 0;
                        padding-bottom: $spacing-2xl;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: 0;
                            padding-bottom: $spacing-4xl;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-both-horizontal-right   
                    {
                        padding-top: $spacing-2xl;
                        padding-right: $spacing-2xl;
                        padding-bottom: $spacing-2xl;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: $spacing-4xl;
                            padding-bottom: $spacing-4xl;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-top-horizontal-none  
                    {
                        padding-top: $spacing-2xl;
                        padding-right: 0;
                        padding-bottom: 0;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: 0;
                            padding-bottom: 0;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-top-horizontal-both  
                    {
                        padding-top: $spacing-2xl;
                        padding-right: $spacing-2xl;
                        padding-bottom: 0;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: $spacing-4xl;
                            padding-bottom: 0;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-top-horizontal-left  
                    {
                        padding-top: $spacing-2xl;
                        padding-right: 0;
                        padding-bottom: 0;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: 0;
                            padding-bottom: 0;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-top-horizontal-right  
                    {
                        padding-top: $spacing-2xl;
                        padding-right: $spacing-2xl;
                        padding-bottom: 0;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: $spacing-4xl;
                            padding-bottom: 0;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-bottom-horizontal-none 
                    {
                        padding-top: 0;
                        padding-right: 0;
                        padding-bottom: $spacing-2xl;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: 0;
                            padding-bottom: $spacing-4xl;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-bottom-horizontal-both
                    {
                        padding-top: 0;
                        padding-right: $spacing-2xl;
                        padding-bottom: $spacing-2xl;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: $spacing-4xl;
                            padding-bottom: $spacing-4xl;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-bottom-horizontal-left
                    {
                        padding-top: 0;
                        padding-right: 0;
                        padding-bottom: $spacing-2xl;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: 0;
                            padding-bottom: $spacing-4xl;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-bottom-horizontal-right 
                    {
                        padding-top: 0;
                        padding-right: $spacing-2xl;
                        padding-bottom: $spacing-2xl;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: $spacing-4xl;
                            padding-bottom: $spacing-4xl;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-none-horizontal-both   
                    {
                        padding-top: 0;
                        padding-right: $spacing-2xl;
                        padding-bottom: 0;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: $spacing-4xl;
                            padding-bottom: 0;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-none-horizontal-left   
                    {
                        padding-top: 0;
                        padding-right: 0;
                        padding-bottom: 0;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: 0;
                            padding-bottom: 0;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-none-horizontal-right 
                    {
                        padding-top: 0;
                        padding-right: 0;
                        padding-bottom: $spacing-2xl;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: 0;
                            padding-bottom: $spacing-4xl;
                            padding-left: 0;
                        }
                    }

                    padding-top: 48px;
                }
            }
        }
    }

    &.static {
        position: relative;

        .Container__wrapper {
            display: flex;
            flex: 1;
            min-height: 0px;
            position: relative;

            &__container {
                position: relative;
                flex: 1;
                height: 100%;
                overflow: auto;
                display: flex;
                flex-direction: column;

                &__content {
                    position: relative;
                    color: black;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    flex-grow: 1;

                    &.padding-vertical-both-horizontal-both
                    {
                        padding-top: $spacing-2xl;
                        padding-right: $spacing-2xl;
                        padding-bottom: $spacing-2xl;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: $spacing-4xl;
                            padding-bottom: $spacing-4xl;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-both-horizontal-left 
                    {
                        padding-top: $spacing-2xl;
                        padding-right: 0;
                        padding-bottom: $spacing-2xl;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: 0;
                            padding-bottom: $spacing-4xl;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-both-horizontal-right   
                    {
                        padding-top: $spacing-2xl;
                        padding-right: $spacing-2xl;
                        padding-bottom: $spacing-2xl;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: $spacing-4xl;
                            padding-bottom: $spacing-4xl;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-top-horizontal-none  
                    {
                        padding-top: $spacing-2xl;
                        padding-right: 0;
                        padding-bottom: 0;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: 0;
                            padding-bottom: 0;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-top-horizontal-both  
                    {
                        padding-top: $spacing-2xl;
                        padding-right: $spacing-2xl;
                        padding-bottom: 0;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: $spacing-4xl;
                            padding-bottom: 0;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-top-horizontal-left  
                    {
                        padding-top: $spacing-2xl;
                        padding-right: 0;
                        padding-bottom: 0;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: 0;
                            padding-bottom: 0;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-top-horizontal-right  
                    {
                        padding-top: $spacing-2xl;
                        padding-right: $spacing-2xl;
                        padding-bottom: 0;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: $spacing-4xl;
                            padding-right: $spacing-4xl;
                            padding-bottom: 0;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-bottom-horizontal-none 
                    {
                        padding-top: 0;
                        padding-right: 0;
                        padding-bottom: $spacing-2xl;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: 0;
                            padding-bottom: $spacing-4xl;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-bottom-horizontal-both
                    {
                        padding-top: 0;
                        padding-right: $spacing-2xl;
                        padding-bottom: $spacing-2xl;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: $spacing-4xl;
                            padding-bottom: $spacing-4xl;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-bottom-horizontal-left
                    {
                        padding-top: 0;
                        padding-right: 0;
                        padding-bottom: $spacing-2xl;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: 0;
                            padding-bottom: $spacing-4xl;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-bottom-horizontal-right 
                    {
                        padding-top: 0;
                        padding-right: $spacing-2xl;
                        padding-bottom: $spacing-2xl;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: $spacing-4xl;
                            padding-bottom: $spacing-4xl;
                            padding-left: 0;
                        }
                    }

                    &.padding-vertical-none-horizontal-both   
                    {
                        padding-top: 0;
                        padding-right: $spacing-2xl;
                        padding-bottom: 0;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: $spacing-4xl;
                            padding-bottom: 0;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-none-horizontal-left   
                    {
                        padding-top: 0;
                        padding-right: 0;
                        padding-bottom: 0;
                        padding-left: $spacing-2xl;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: 0;
                            padding-bottom: 0;
                            padding-left: $spacing-4xl;
                        }
                    }

                    &.padding-vertical-none-horizontal-right 
                    {
                        padding-top: 0;
                        padding-right: 0;
                        padding-bottom: $spacing-2xl;
                        padding-left: 0;

                        @media only screen and (min-width: $breakpoint-medium) {
                            padding-top: 0;
                            padding-right: 0;
                            padding-bottom: $spacing-4xl;
                            padding-left: 0;
                        }
                    }

                    // padding-top: 48px;
                }
            }
        }
    }
}
