@use '../../global-styles/' as *;

.SidebarButton {
    padding: 0;
    margin: 0;

    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6px;
    background: $color-gray-700;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s;
    
    &.collapsed {
        
        padding: 8px 8px;
        
        @media only screen and (min-width: $breakpoint-medium) {
            width: 2.5rem;
            margin-left: 0.25rem;
        }
    }

    &.expanded {
        height: 2.5rem;
        width: 100%;
        padding: 8px 12px;
    }

    &.active,
    &:hover {
        background: $color-gray-600;
    }

    &__content {
        height: 24px;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        padding: 0;

        &__icon {
            height: 1.5rem;
            width: 1.5rem;
            flex-grow: 0;
            object-fit: contain;
            color: $color-gray-300;
        }

        &__label {
            flex-grow: 0;
            text-align: left;
            color: $color-gray-100;
            @include Text-mdRegular;
            transition: all 0.5s;

            &.collapsed {
                
                
                @media only screen and (min-width: $breakpoint-medium) {
                    margin-left: -25px;
                    opacity: 0;
                }
            }

            &.expanded {
                opacity: 1;
            }
        }
    }
}
