@use '../../global-styles/' as *;

.MediaPreview {
    &__wrapper {
        user-select: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        z-index: 50000;

        &.single {
            justify-content: center;
        }

        &.multi {
            justify-content: space-between;
        }

        @include Background-blur-md-dark;

        &__button--prev,
        &__button--next,
        &__button--placeholder {
            padding: 1rem;
            width: 3rem;
            height: 100%;
            display: flex;
            align-items: center;
            color: $color-gray-300;
            font-size: 1.25rem;

            &:hover {
                color: $color-gray-200;
            }
        }

        &__button--prev {
            justify-content: flex-start;
        }
        
        &__button--next {
            justify-content: flex-end;
            width: 9.5rem;

            @media (min-width: $breakpoint-medium) {
                width: 4rem;
            }
        }

        &__button--placeholder {
            width: 5rem;

            cursor: default;
        }

        &__content {
            background: transparent;
            height: 80%;
            width: auto;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;

                @media (min-width: $breakpoint-medium) {
                    height: 100%;
                    width: auto;
                }
            }
        }

        &__close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            color: $color-gray-300;
            font-size: 1.25rem;
            cursor: pointer;

            &:hover {
                color: $color-gray-200;
            }
        }
    }
}
