@use '../../global-styles/' as *;

.FileUploader {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;

    outline: none;
    border: solid 1px $color-gray-300;
    box-shadow: $box-shadow-default;
    border-radius: 12px;
    background: $color-base-white;
    transition: all 0.25s ease-in-out;
    padding: 16px;
    gap: 16px;

    &__zone {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
        justify-content: stretch;

        label {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    input,
    .dzu-previewStatusContainer {
        display: none;
    }


    .dzu-inputLabelWithFiles
    {
        color: transparent;
        cursor: pointer;
    }

    .dzu-previewContainer {
        overflow: hidden;
        width: 7.5rem;
        height: 7.5rem;

        img {
            width: 100%;
        }

        border-radius: 8px;
        position: relative;
    }

    .dzu-previewFileName
    {
        color: $color-gray-600;
        @include Text-smRegular;
    }
}

.FileUploaderInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &__icon {
        width: 2.5rem;
        height: 2.5rem;

        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
        border: solid 1px $color-gray-200;
        background-color: $color-base-white;
    }

    &__title {
        padding-top: 12px;
        color: $color-gray-600;
        @include Text-smRegular;

        &__bold {
            color: $color-gray-700;
            @include Text-smSemibold;
        }
    }

    &__subTitle {
        padding-top: 4px;
        color: $color-gray-600;
        @include Text-xsRegular;
    }
}
