@use '../../../../global-styles/' as *;

// Pagination.scss
.TablePagination {
    height: 4.25rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    border-top: 1px solid $color-gray-200;

    &__button {
        width: 40px;
        &--active {
            background: $color-gray-50 !important;
        }
    }
}
