@use '../../global-styles/' as *;

// Table.scss

.TableContainer {
    flex-grow: 1;
    width: 100%;
    border-radius: 0.75rem;
    background: $color-base-white;
    border: solid 1px $color-gray-200;
    box-shadow: 0 1px 2px 0 #1018280d;
    // height: 600px;

    .TableWrapper
    {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .Table {
        &__no__rows {
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 0.85rem;
            color: $color-gray-700;
            @include Text-smMedium;
        }

        border-collapse: collapse;
    }

    .TableRows {
        position: relative;
        max-width: 100%;
        overflow-x: auto;
        height: 100%;
    }
}
